.option {
  font-size: 20px;
  padding: 16px 4px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.autocomplete-message {
  font-size: 20px;
}


@media screen and (max-width: 800px) {
  .option {
    font-size: 18px;
  }

  .autocomplete-message {
    font-size: 18px;
  }
}

@media screen and (max-width: 525px) {
  .option {
    font-size: 14px;
  }

  .autocomplete-message {
    font-size: 14px;
  }
}