.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url("../../public/cover.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .input-wrapper {
    margin: 64px;
    width: 30%;

    input {
      width: 100%;
      line-height: 2;
      font-size: 24px;
      padding: 0 16px;
    }
  }

  .table-wrapper {
    margin-top: 32px;
  }
}